<!DOCTYPE HTML>

<html>

  <head>
    <title>chat</title>
  </head>

  <body>

    <div class="container" >
      <div class = "jumbotron col-lg-3">
        <div >
          <div class = "btn btn-info" style="margin-top:5px" >All Contacts</div>
          <div class = "btn btn-info" style="margin-top:5px">Blocked Contacts</div>
          <div class = "btn btn-info" style="margin-top:5px">Favorites Contacts</div>
          <div class = "btn btn-info" style="margin-top:5px">Hidden Contacts</div>
        </div>
      </div>

    </div>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>

</html
