<!DOCTYPE HTML>

<html>

<head>
	<title>chat</title>
	<link href="/css/materialize.min.css" type="text/css" rel="stylesheet"/>
  <link href="/css/style.css" type="text/css" rel="stylesheet"/>
	<script src="/js/angular.min.js"></script>
	<script src="/js/jquery-1.11.2.min.js"></script>

  <script src="/js/materialize.min.js"></script>
</head>

<body>

	<div class="container" >
		<div class = "jumbotron">

			<form action="/addUser" method="POST">
  			<div class="form-group">
					<label for="username">username</label>
    			<input type="textarea" class="form-control" name = "username" id="username">
  			</div>

  			<button type="submit" class="btn btn-default">push</button>
			</form>

		</div>

	</div>


	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
	<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

</body>

</html
